h3 {
    font-size: 25px !important;
}
.btn-success:hover {
    background-color: red;
}
canvas {
    
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{
        box-shadow: 1px 1px 38px cyan;
    }
    to{
        box-shadow: 1px 1px 38px darkblue;
    }
}
#mustacheOn, #lipstickOn {
    color: white;
    background-color: green;
    border-radius: 5px;
    border-color: green;
    font-size: 20px;
}
#mustacheOff, #lipstickOff {
    color: white;
    background-color: red;
    border-radius: 5px;
    border-color: red;
    font-size: 20px;
}

#bg {
    background-color: lightgray;
}